page-home {

    #search {
        width: 100%;
        padding: 1em;
        border-radius: 50px 50px 50px 50px;
        border: none;
        color: black; 
        border: 1px solid #dddddd;
        box-shadow: 3px 6px 13px #333; 
    }
}
